header{
    position: fixed;
    Background-color: #F0F0F0;
    padding: 10px;
    text-shadow: 4px 5px 10px rgba(0,0,0,.5);
    text-align: center;
    width:40%;
    z-index: 1;
    position: relative;
    height: 100%;
}
nav{
    position: sticky;
    color:black;
}
main{
Width: 45%;
Background-color : #E0E0E0 ;
Padding : 15px;
position: absolute;
z-index: 2;
margin-left: 10%;
height: 40%;
}

aside{
Width: 30%;
margin-left: 10%;
Background-color: #D0D0D0;
Padding: 15px;
position: absolute;
z-index: 3;
}

footer{
position:absolute;
bottom:0;
Background-color: #C0C0C0;
Padding: 10px;

}